* {
    box-sizing: border-box;
}

.lecture-li :hover {
    background-color: rgb(209, 215, 220);
}

.section-ul {
    overflow-y: auto;
}

.nav-col {
    padding: 0px;
    margin: 0px
}

/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
} */

/* .wrapper {
    display: flex;
}

.video-container {
    flex: 1;
}


.navigation {
    flex-basis: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
} */
.view-course-page{
    overflow: hidden;
}
.video-col{
    width : 800px;
    height : 450px;
}
.nav-col{
    padding: 0px 36px;
}
.heading {
    position: fixed;
    top : 0;
    z-index: 1000;
    background-color: #fff;
}
.view-course-page .page-content{
    margin-top: 135px;
    margin-right: 0;
}
.lecture-ul{
    border-bottom : 1px solid #ccc;
    /* padding: 0px 36px; */

}
.lecture-video{
    height: 100%;
    width : 100%;
    border-radius : 16px;
}
.nav-col{
    height : 700px;
    overflow-y: scroll;

}