* {
    box-sizing: border-box;
}

.lecture-li :hover {
    background-color: rgb(209, 215, 220);
}

.section-ul {
    overflow-y: auto;
}

.nav-col {
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.video-container {
    flex: 1;
}


.navigation {
    flex-basis: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}